    $border-headers: #ECECEC;
    $link-color:#757575;
    $svg-color:#757575;
    $svg-color-main:#AFB1B8;
    $text-color:#212121;
    $text-hover:#2196F3;
    $svg-hover:#2196F3;
    $button-background:#2196F3;
    $button-hover:#188CE8;
    $link-color:#757575;
    $logo-color-first:#2196F3;
    $logo-color-footer-second:#ffffff;
    $logo-color-header-second:#000000;
    $borderonclient:#AFB1B8;
    $footer-background:#2F303A;
    $background-block: #F5F4FA;
    $white:#ffffff;
    $cub:cubic-bezier(0.4, 0, 0.2, 1);
    $font-roboto: 'Roboto', sans-serif;
    $font-raleway: 'Raleway';
