.my-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  .description {
    color: $link-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
  }

  .title_product {
    color: $text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    margin-bottom: 4px;
  }
  .nav_portfolio {
    color: $text-color;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 0 40px;
    @media screen and (min-width:768px){
      justify-content: center;
    }
  }
  .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    background: $background-block;
    border-radius: 4px;
    border: none;
    transition: color 250ms $cub,
    box-shadow 250ms $cub,
    background 250ms $cub;
    &:hover, &:focus{
      color: $white;
      background-color:$button-background;
      outline: none;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12)
    }
  }
  .batton-portfolio{
    margin-bottom:15px;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  .portfolio{
    picture{
      width: 100%;
    }
    @media screen and (min-width:768px) {
      display: grid;
      grid-template:1fr/1fr 1fr;
      column-gap: 30px;
      row-gap: 30px;
    }
    @media screen and (min-width:1200px) {
      grid-template: 1fr 1fr/1fr 1fr 1fr;
    }
  }
  .one_of_portfolio {
    text-align: left;
    background-color: $white;
    font-size: 0;
    &:not(:last-child){
      margin-bottom: 30px;
    }
    &:hover .about_product {
      transform: translateY(0%);
    }
    @media screen and (min-width:768px) {
      &:not(:last-child){
        margin-bottom: 0;
      }
    }
  }
  .poducts_headers {
    flex-grow: 1;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .link-portfolio {
    display: block;
    transition: box-shadow 250ms $cub;
    &:hover, &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    @media screen and (min-width:768px){
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
  .img_portfolio {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;

  }
  .about_product {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    transform: translateY(101%);
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: $white;
    transition: transform 250ms $cub;
    overflow-y: scroll;
  }
}